<section class="ftco-section-2 img" style="background-image: url(/media/{{.image}});">
    <div class="container">
       <div class="row d-md-flex justify-content-end">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-12">
                   <a href="#" class="services-wrap ftco-animate">
                      <div class="icon d-flex justify-content-center align-items-center">
                         <span class="ion-ios-arrow-back"></span>
                         <span class="ion-ios-arrow-forward"></span>
                      </div>
                      <h2>Market Research</h2>
                      <p>Even the all-powerful Pointing has no control about the blind.</p>
                   </a>
                   <a href="#" class="services-wrap ftco-animate">
                      <div class="icon d-flex justify-content-center align-items-center">
                         <span class="ion-ios-arrow-back"></span>
                         <span class="ion-ios-arrow-forward"></span>
                      </div>
                      <h2>Financial Services</h2>
                      <p>Even the all-powerful Pointing has no control about the blind.</p>
                   </a>
                   <a href="#" class="services-wrap ftco-animate">
                      <div class="icon d-flex justify-content-center align-items-center">
                         <span class="ion-ios-arrow-back"></span>
                         <span class="ion-ios-arrow-forward"></span>
                      </div>
                      <h2>Online Marketing</h2>
                      <p>Even the all-powerful Pointing has no control about the blind.</p>
                   </a>
                   <a href="#" class="services-wrap ftco-animate">
                      <div class="icon d-flex justify-content-center align-items-center">
                         <span class="ion-ios-arrow-back"></span>
                         <span class="ion-ios-arrow-forward"></span>
                      </div>
                      <h2>24/7 Help &amp; Support</h2>
                      <p>Even the all-powerful Pointing has no control about the blind.</p>
                   </a>
                </div>
             </div>
          </div>
       </div>
    </div>
</section>