{% load static %}
{% if specialities %}
<section class="ftco-section-2 img" style="background-image: url(/media/{{config.SERVICES_LOGO}});">
    <div class="container">
       <div class="row d-md-flex justify-content-end">
          <div class="col-md-6">
             <div class="row">
                <div class="col-md-12">
                     {% for speciality in specialities %}
                        <a href="#" class="services-wrap ftco-animate">
                           <div class="icon d-flex justify-content-center align-items-center">
                              <span class="ion-ios-arrow-back"></span>
                              <span class="ion-ios-arrow-forward"></span>
                           </div>
                           <h2>{{ speciality.title }}</h2>
                           <p>{{ speciality.text }}</p>
                        </a>
                     {% endfor %}
                </div>
             </div>
          </div>
       </div>
    </div>
</section>
{% endif %}