<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
   <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
         <div class="col-md-7 heading-section text-center ftco-animate">
            <span class="subheading">Contact</span>
            <h2 class="mb-4">Contact Us</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
         </div>
      </div>
      <div class="row d-flex contact-info mb-5">
         <div class="col-md-6 col-lg-3 d-flex ftco-animate">
            <div class="align-self-stretch box p-4 text-center">
               <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-map-signs"></span>
               </div>
               <h3 class="mb-4">Address</h3>
               <p>{{config.CONTACT_US_ADDRESS}}</p>
            </div>
         </div>
         <div class="col-md-6 col-lg-3 d-flex ftco-animate">
            <div class="align-self-stretch box p-4 text-center">
               <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-phone2"></span>
               </div>
               <h3 class="mb-4">Contact Number</h3>
               <p><a href="tel://{{config.CONTACT_US_NUMBER}}">{{config.CONTACT_US_NUMBER}}</a></p>
            </div>
         </div>
         <div class="col-md-6 col-lg-3 d-flex ftco-animate">
            <div class="align-self-stretch box p-4 text-center">
               <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-paper-plane"></span>
               </div>
               <h3 class="mb-4">Email Address</h3>
               <p><a href="mailto:{{config.CONTACT_US_EMAIL}}">{{config.CONTACT_US_EMAIL}}</a></p>
            </div>
         </div>
         <div class="col-md-6 col-lg-3 d-flex ftco-animate">
            <div class="align-self-stretch box p-4 text-center">
               <div class="icon d-flex align-items-center justify-content-center">
                  <span class="icon-globe"></span>
               </div>
               <h3 class="mb-4">Website</h3>
               <p><a href="#">{{config.CONTACT_US_WEBSITE}}</a></p>
            </div>
         </div>
      </div>
      <div class="row no-gutters block-9">
         <div class="col-md-6 order-md-last d-flex">
            <form action="" class="bg-light p-5 contact-form " method="post">
               {% csrf_token %}
               {{ form.as_p }}
               <div class="form-group">
                  <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
               </div>
            </form>
         </div>
         <div class="col-md-6 d-flex">
            <div id="map" class="bg-white"></div>
         </div>
      </div>
   </div>
   </div>
</section>
