<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <div class="container">
         {% if contact_us %}
            {{ contact_us.content|safe }}
         {% endif %}
         <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
               <form action="" class="bg-light p-5 contact-form " method="post">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="form-group">
                     <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                  </div>
               </form>
            </div>
            <div class="col-md-6 d-flex">
               <div id="map" class="bg-white"></div>
            </div>
         </div>
    </div>
    </div>
</section>