{% if happy_clinets %}
<section class="ftco-section testimony-section" id="testimony-section">
    <div class="container">
       <div class="row justify-content-center pb-3">
          <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
             <h2 class="mb-4">Happy Clients</h2>
          </div>
       </div>
       <div class="row ftco-animate justify-content-center">
          <div class="col-md-12">
             <div class="carousel-testimony owl-carousel ftco-owl">
                {% for happy_client in happy_clinets %}
                <div class="item">
                   <div class="testimony-wrap text-center py-4 pb-5">
                      <div class="user-img" style="background-image: url(/media/{{happy_client.image}})">
                         <span class="quote d-flex align-items-center justify-content-center">
                         <i class="icon-quote-left"></i>
                         </span>
                      </div>
                      <div class="text px-4 pb-5">
                         <p class="mb-4">{{ happy_client.text }}</p>
                         <p class="name">{{ happy_client.author }}</p>
                         <span class="position">{{ happy_client.role }}</span>
                      </div>
                   </div>
                </div>
                {% endfor %}
             </div>
          </div>
       </div>
    </div>
</section>
{% endif %}