{% extends 'blog/skeleton.html' %}
{% block content %}
	{% include 'blog/navbar.html' %}
	{% include 'blog/home_section.html' %}
	{% include 'blog/services_section.html' %}
	{% include 'blog/ads_section.html' %}
	{% include 'blog/projects_section.html' %}
	{% include 'blog/about_section.html' %}
	{% include 'blog/staffs_section.html' %}
	{% include 'blog/happy_clients_section.html' %}
	{% include 'blog/blog_section.html' %}
	{% include 'blog/contact_section.html' %}
	{% include 'blog/footer.html' %}
{% endblock %}