<section class="ftco-section">
    <div class="container">
       <div class="row justify-content-center pb-5">
          <div class="col-md-6 heading-section text-center ftco-animate">
             <span class="subheading">About Us</span>
             <h2 class="mb-4">Our Staff</h2>
             <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
          </div>
       </div>
       <div class="row">
          {% for person in persons %}
          <div class="col-md-6 col-lg-3 ftco-animate">
             <div class="staff">
                <div class="img-wrap d-flex align-items-stretch">
                   <div class="img align-self-stretch" style="background-image: url(/media/{{person.image}});"></div>
                </div>
                <div class="text d-flex align-items-center pt-3 text-center">
                   <div>
                      <h3 class="mb-2">{{ person.name }}</h3>
                      <span class="position mb-4">{{ person.role }}</span>
                      <div class="faded">
                         <ul class="ftco-social text-center">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter">{{ person.Twiter_Id }}</span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook">{{ person.FaceBook_Id }}</span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-google-plus">{{ person.Gmail_Id }}</span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram">{{ person.Instagram_Id }}</span></a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          {% endfor %}
       </div>
    </div>
</section>